<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs unit tests and integration tests of ProjectCompta9 app on all its layers (via test-consumer and test-business profiles) . &#xd;
Also runs jacoco coverage reports on every layer. &#xd;
Also runs SonarQube reports analysis. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.4">
      <projectUrl>https://github.com/pplaxine/Project9/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/pplaxine/Project9.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.docker__compose.DockerComposeBuilder plugin="docker-compose-build-step@1.0">
      <useCustomDockerComposeFile>true</useCustomDockerComposeFile>
      <dockerComposeFile>docker/dev/docker-compose.yml</dockerComposeFile>
      <option class="jenkins.plugins.docker_compose.StopAllServices"/>
    </jenkins.plugins.docker__compose.DockerComposeBuilder>
    <hudson.tasks.BatchFile>
      <command>docker ps -a</command>
    </hudson.tasks.BatchFile>
    <jenkins.plugins.docker__compose.DockerComposeBuilder plugin="docker-compose-build-step@1.0">
      <useCustomDockerComposeFile>true</useCustomDockerComposeFile>
      <dockerComposeFile>docker/dev/docker-compose.yml</dockerComposeFile>
      <option class="jenkins.plugins.docker_compose.StartAllServices"/>
    </jenkins.plugins.docker__compose.DockerComposeBuilder>
    <hudson.tasks.BatchFile>
      <command>docker ps&#xd;
sleep 9s&#xd;
cd myerp&#xd;
mvn clean jacoco:prepare-agent-integration package -P test-consumer,test-business sonar:sonar -Dsonar.host.url=http://192.168.99.102:9000</command>
    </hudson.tasks.BatchFile>
    <jenkins.plugins.docker__compose.DockerComposeBuilder plugin="docker-compose-build-step@1.0">
      <useCustomDockerComposeFile>true</useCustomDockerComposeFile>
      <dockerComposeFile>docker/dev/docker-compose.yml</dockerComposeFile>
      <option class="jenkins.plugins.docker_compose.StopAllServices"/>
    </jenkins.plugins.docker__compose.DockerComposeBuilder>
    <hudson.tasks.BatchFile>
      <command>sleep 13s&#xd;
explorer &quot;http://192.168.99.102:9000/projects?sort=-analysis_date&quot;&#xd;
docker ps -a</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>